<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soundstage.app">

    <application
        android:label="SoundStage"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.SoundStage">

        <activity
            android:name=".MainActivity" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
